html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #000009;
    font-family: 'Lato', sans-serif;
}

.white {
    background-color: #ffffff;
}